<div class="main-content">
    <div class="width65 margin-auto margin-top-bottom3" *ngIf="offer">
        <section class="tiles-section margin-top5">
            <mat-card class="height60 shadow">
                <mat-card-content class="height-calc">
                    <section class="flex align-item-center flex-direction-row margin-bottom32">
                        <mat-card class="width20 height100 flex align-self-baseline shadow margin-left20 pointer">
                            <img *ngIf="offer.cpn_logo" width="100%" height="100%" [src]="'assets/icons/logos/' + offer.cpn_logo" alt>
                        </mat-card>
                        <section class="margin-left40 width65">
                            <p class="bold font30 line-height30">{{offer.offer_title}}</p>
                            <p>{{offer.cpn_name}}</p>
                            <p class="grey">{{offer.offer_contract_type}} | {{offer.offer_city}} ({{offer.offer_country}})</p>
                            <button mat-button class="bg-light-green white" (click)="apply(offer)">Postuler</button>
                        </section>
                    </section>
                    <div class="separation-line"></div>
                    <section class="width90 margin-auto flex flex-direction-row">
                        <section class="width75 margin-right5p">
                            <p class="bold">Entreprise : {{offer.cpn_name}}</p>
                            <br><br>
                            <p class="bold">Offre : {{offer.offer_title}}</p>
                            <p class="text-align-justify">{{offer.offer_description}}</p>
                            <br><br>
                        </section>
                        <section class="width21">
                            <p class="bold">Expérience</p>
                            <p>{{offer.offer_required_exp}}</p>
                            <br>
                            <p class="bold">Fonction</p>
                            <p>{{offer.offer_function}}</p>
                            <br>
                            <p class="bold">Type d'entreprise</p>
                            <p>{{offer.cpn_size}}</p>
                            <br>
                            <p class="bold">Date limite de candidature</p>
                            <p>Aucune date n'a été précisée pour ce poste.</p>
                        </section>
                    </section>
                </mat-card-content>
                <div class="separation-line"></div>
                <mat-card-actions class="padding-left-bottom20">
                    <button mat-button class="bg-light-green white" (click)="apply(offer)">Postuler</button>
                </mat-card-actions>
            </mat-card>
        </section>
    </div>
</div>
