<div class="main-content">

    <section class="section-sign-in">

        <mat-card class="margin-padding-0">
            <mat-card-header class="white bg-light-green">
                <mat-card-title>
                    <div class="first-div"> Pour vous inscrire, veuillez nous donner quelques informations sur votre profil :</div>
<!--                    <div class="second-div">Etape 1/2</div>-->
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

    </section>

</div>
