<div class="main-content">

    <section class="section-title">
        <img class="bg-img" src="../../../assets/icons/home.jpg" width="100%" alt/>
        <div class="triangle"></div>
        <div class="title-triangle">
            <h1 class="line-height70">Hello.<br>
            Vous êtes sur <span class="light-green">JobBoard.</span></h1>
            <p class="line-height50">Conseils, stage, alternance, emploi.<br>
                Sans prise de tête.</p>
            <div class="margin-top32">
                <button mat-button class="bg-light-green white" (click)="goTo(page.SIGN_IN)">Créer mon profil</button>
            </div>
        </div>
    </section>

    <section class="section-signature">
        <h2 class="margin-padding-0 bold font50 margin-bottom32">Vous êtes talentueux</h2>
        <p class="italic line-height30">Notre mission ? Vous aider à en prendre conscience.<br>
            Comment ? En vous donnant toutes les clés pour vous aider à trouver votre voie et à vous y épanouir.</p>
        <div class="margin-top32">
            <button mat-button class="bg-light-green white" (click)="goTo(page.SIGN_IN)">Créer mon profil</button>
        </div>
    </section>

    <section class="flex section-explore">
        <div class="flex width50">
            <img class="bg-img" src="../../../assets/icons/men.jpg" width="100%" alt/>
        </div>
        <div class="flex flex-direction-column explore-content width50">
            <h1 class="light-green">EXPLORER</h1>
            <p class="bold first-p">Trouvez votre voie</p><br><br>
            <p>Un métier ou une entreprise, ça se choisit en fonction de soi. Parcours, débouchés, valeurs ou encore ambitions futures, rien ne doit être laissé au hasard.</p>
            <p>On vous dit tout ici, pour que vous puissiez vous épanouir à coup sûr dans la voie que vous aurez choisie.</p>
            <br>
            <div>
                <button mat-button class="bg-light-green white" (click)="goTo(page.COMPANY)">Entreprises</button>
                <button mat-button class="bg-light-green white margin-left20" (click)="goTo(page.OFFER)">Offres</button>
            </div>
        </div>
    </section>

    <section>
        <div class="width100 height50px"></div>
    </section>

</div>
