:host {

  .flex {
    display: flex;
  }

  .flex-direction-column {
    flex-direction: column;
  }

  .height10 {
    height: 10%;
  }

  .height80 {
    height: 80%;
  }

  .main-content {
    position: fixed;
    width: 100%;
    top: 10%;
    bottom: 10%;
  }

}
