<div class="main-content">

        <div class="width75 margin-auto margin-top-bottom3">

            <section class="card-section">
                <mat-card class="margin-padding-0 border-radius0 shadow">
                    <mat-card-content class="width95 margin-auto padding-top-bottom15">

                        <section class="flex space-between">
                            <mat-form-field class="width32" appearance="outline">
                                <mat-icon svgIcon="search" aria-hidden="false" matPrefix class="margin-right20"></mat-icon>
                                <input matInput type="search" placeholder="Search...">
                            </mat-form-field>
                            <mat-form-field class="width32" appearance="outline">
                                <mat-select placeholder="Sélectionnez un secteur">
                                    <mat-option *ngFor="let companiesField of companiesFields" [value]="companiesField.cpn_field">
                                        {{companiesField.cpn_field}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="width32" appearance="outline">
                                <mat-select placeholder="Sélectionnez un type">
                                    <mat-option *ngFor="let companySize of companiesSizes" [value]="companySize.cpn_size">
                                    {{companySize.cpn_size}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </section>

                    </mat-card-content>
                </mat-card>
            </section>

            <section class="tiles-section margin-top10">

                <mat-grid-list gutterSize="10" cols="3">
                    <mat-grid-tile *ngFor="let company of companies">
                        <mat-card>
                            <mat-card-header>{{company.cpn_name}}</mat-card-header>

                            <mat-card-footer>
                                <a>Voir nos offres</a>
                            </mat-card-footer>

                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>

            </section>

        </div>

</div>
