<div class="main-content">
    <div class="main-content">
        <div class="width80 margin-auto margin-top-bottom5 flex flex-direction-row">
            <section class="card-small-section width30 margin-auto">
                <mat-card class="margin-padding-0 border-radius0">
                    <mat-card-header class="width90 margin-auto justify-content-center margin-bottom32">
                        <mat-card-title class="margin-top-bottom15 flex justify-content-center">
                            <img class="bg-light-green" src="assets/icons/profile_user.svg" width="80%" height="80%" alt>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span class="bold font18">user_name user_surname</span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="width90 margin-auto">
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="adress" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="margin-left20">
                                <p>adress</p>
                                <p>postal_code & city</p>
                                <p class="margin0">Country</p>
                            </div>
                        </section>
                        <div class="separation-line margin40"></div>
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="birth" aria-hidden="false"></mat-icon>
                            </div>
                            <div  class="margin-left20">
                                <p class="margin0">birthday</p>
                            </div>
                        </section>
                        <div class="separation-line margin40"></div>
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="graduate" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="margin-left20">
                                <p class="margin0">graduate</p>
                            </div>
                        </section>
                        <section class="height50px"></section>
                    </mat-card-content>
                </mat-card>
            </section>
            <section class="width65 margin-auto">
                <section class="card-big-section">
                    <mat-card class="margin-padding-0 border-radius0 shadow">
                        <mat-card-header class="width90 margin-auto">
                            <section class="flex margin-auto justify-content-center">
                                <img src="assets/icons/description_user.svg" width="75%" height="75%" alt>
                            </section>
                            <section>
                                <mat-card-title class="margin-top-bottom5">Me présenter en quelques lignes</mat-card-title>
                                <mat-card-subtitle>Votre présentation doit vous servir à expliquer aux recruteurs qui vous êtes et ce que vous recherchez.</mat-card-subtitle>
                            </section>
                        </mat-card-header>
                        <mat-card-content class="width90 margin-auto">
                            <div class="separation-line margin-top-bottom40"></div>
                            <section>
                                <p class="grey">C'est le moment de faire mouche : vos points forts, vos attentes...présentez-vous en quelques mots pour séduire les recruteurs. Punchlines raffinées ou succession de mots-clés, il n'y a pas vraiment de recette miracle : cela dépendra surtout du secteur que vous visez. Adaptez votre discours en fonction !</p>
                                <mat-form-field class="width100 height50px">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Je suis actuellement en 2ème année de droit et je suis à la recherche..."></textarea>
                                </mat-form-field>
                            </section>
                            <section class="height50px"></section>
                        </mat-card-content>
                    </mat-card>
                </section>
                <section class="height50px"></section>
                <section class="card-big-section">
                    <mat-card class="margin-padding-0 border-radius0 shadow">
                        <mat-card-header class="width90 margin-auto">
                            <section class="flex margin-auto justify-content-center">
                                <img src="assets/icons/cv.svg" width="75%" height="75%" alt>
                            </section>
                            <section class="margin-side10">
                                <mat-card-title class="margin-top-bottom5">Mon CV</mat-card-title>
                                <mat-card-subtitle>Ajouter votre CV vous permet de postuler plus rapidement aux offres et est nécessaire pour être à l'écoute d'opportunités.</mat-card-subtitle>
                            </section>
                            <section class="flex align-item-center">
                                <button mat-button class="bg-light-green white">Ajouter mon CV</button>
                            </section>
                        </mat-card-header>
                    </mat-card>
                </section>
            </section>
        </div>
    </div>
</div>
