<div class="main-content">
    <div class="main-content">
        <div class="width80 margin-auto margin-top-bottom5 flex flex-direction-row">
            <section class="card-small-section width30 margin-auto">
                <mat-card class="margin-padding-0 border-radius0">
                    <mat-card-header class="width90 margin-auto justify-content-center margin-bottom32">
                        <mat-card-title class="margin-top-bottom15 flex justify-content-center">
                            <img class="bg-light-green" src="assets/icons/profile_user.svg" width="80%" height="80%" alt>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span class="bold font18">{{userService.user?.user_name}} {{userService.user?.user_surname}}</span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="width90 margin-auto">
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="adress" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="margin-left20">
                                <p>{{dataLoaded(userService.user?.user_adress)}}</p>
                                <p>{{dataLoadedNumber(userService.user?.user_posta_code)}} {{userService.user?.user_city}}</p>
                                <p class="margin0">{{dataLoaded(userService.user?.user_country)}}</p>
                            </div>
                        </section>
                        <div class="separation-line margin40"></div>
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="birth" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="margin-left20">
                                <p class="margin0">{{dataLoadedDate(userService.user?.user_birth)}}</p>
                            </div>
                        </section>
                        <div class="separation-line margin40"></div>
                        <section class="flex flex-direction-row padding-side20">
                            <div class="flex align-items-center">
                                <mat-icon svgIcon="graduate" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="margin-left20">
                                <p class="margin0">{{dataLoaded(userService.user?.user_graduation)}}</p>
                            </div>
                        </section>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <a><mat-icon class="margin-bottom32 margin-right40 cursor-move" svgIcon="edit" aria-hidden="false"
                                  (click)="updateProfile()"></mat-icon></a>
                    </mat-card-actions>
                </mat-card>
            </section>
            <section class="width65 margin-auto">
                <section class="card-big-section">
                    <mat-card class="margin-padding-0 border-radius0 shadow">
                        <mat-card-header class="width90 margin-auto">
                            <section class="flex margin-auto justify-content-center">
                                <img src="assets/icons/description_user.svg" width="75%" height="75%" alt>
                            </section>
                            <section>
                                <mat-card-title class="margin-top-bottom5">Me présenter en quelques lignes</mat-card-title>
                                <mat-card-subtitle>Votre présentation doit vous servir à expliquer aux recruteurs qui vous êtes et ce que vous recherchez.</mat-card-subtitle>
                            </section>
                        </mat-card-header>
                        <mat-card-content class="width90 margin-auto">
                            <div class="separation-line margin-top-bottom40"></div>
                            <section>
                                <p class="grey">C'est le moment de faire mouche : vos points forts, vos attentes...présentez-vous en quelques mots pour séduire les recruteurs. Punchlines raffinées ou succession de mots-clés, il n'y a pas vraiment de recette miracle : cela dépendra surtout du secteur que vous visez. Adaptez votre discours en fonction !</p>
                                <mat-form-field class="width100 height200px">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput class="height200px" [(ngModel)]="description" cdkTextareaAutosize #message maxlength="960"
                                              placeholder="Je suis actuellement en 2ème année de droit et je suis à la recherche..."></textarea>
                                    <mat-hint align="end">{{message.value.length}} / 960</mat-hint>
                                </mat-form-field>
                            </section>
                        </mat-card-content>
                        <mat-card-actions class="margin-right40 padding-bottom15" align="end">
                            <button mat-button class="bg-light-green white" (click)="updateDescription()">Modifier ma descritpion</button>
                        </mat-card-actions>
                    </mat-card>
                </section>
                <section class="height50px"></section>
                <section class="card-big-section">
                    <mat-card class="margin-padding-0 border-radius0 shadow">
                        <mat-card-header class="width90 margin-auto">
                            <section class="flex margin-auto justify-content-center">
                                <img src="assets/icons/cv.svg" width="75%" height="75%" alt>
                            </section>
                            <section class="margin-side10">
                                <mat-card-title class="margin-top-bottom5">Mon CV</mat-card-title>
                                <mat-card-subtitle>Ajouter votre CV vous permet de postuler plus rapidement aux offres et est nécessaire pour être à l'écoute d'opportunités.</mat-card-subtitle>
                            </section>
                            <section class="flex align-item-center">
                                <button *ngIf="!isAlreadyACV" mat-button class="bg-light-green white" (click)="updateCV()">Ajouter mon CV</button>
                                <button *ngIf="isAlreadyACV" mat-button class="bg-light-green white" (click)="getCV()">Voir mon CV</button>
                            </section>
                        </mat-card-header>
                    </mat-card>
                </section>
            </section>
        </div>
    </div>
</div>
