<div class="main-content">

    <section class="section-connection">

        <h1 class="bold font30">Connexion</h1>

        <h2 class="margin-bottom32 grey">Content de vous revoir !</h2>

        <div class="flex flex-direction-column form">
            <mat-form-field appearance="outline">
                <mat-label>Email address *</mat-label>
                <input matInput [(ngModel)]="email" placeholder="email address *">
            </mat-form-field>
            <p class="pwd-p" *ngIf="bad_email">L'email rentré ne correspond à aucun compte.</p>

            <mat-form-field appearance="outline">
                <mat-label>Password *</mat-label>
                <input matInput type="password" [(ngModel)]="pwd" placeholder="password *">
            </mat-form-field>
                <p class="pwd-p" *ngIf="bad_pwd">Mot de passe incorrect</p>

<!--            <a class="forgot-pwd">Mot de passe oublié</a>-->

            <button mat-button class="bg-light-green white margin-top-bottom40" (click)="connection()">Connexion</button>

        </div>

        <div class="margin-top-bottom40">
            <p>Vous n'avez pas de compte ?
                <span>
                    <a (click)="goTo(page.SIGN_IN)">Inscrivez-vous.</a>
                </span>
            </p>
        </div>

    </section>

</div>
