:host {

  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .section-connection {

    display: block;
    margin: calc(5rem * 2) calc(10rem * 2);

    .forgot-pwd {
      color: #00a34d;
      text-decoration: underline;
    }

    .pwd-p {
      margin-left: 20px;
      font-size: 10px;
      line-height: normal;
      color: red;
    }

    p {
      color: #4dc942;
      span {
        color: #00a34d;
      }
      span:hover {
        text-decoration: underline;
      }
    }

  }

}
